@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

.text-logo-lg{
    font-family: 'Lemonada', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.text-logo-md{
    font-family: 'Lemonada', cursive;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    outline-style: none;
    margin-top: 10px;
}
.card-text{
    font-size: 14px;
    margin-bottom: 5px;
}
.card-title{
    font-weight: 500;
}

.body-card{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #ececec;
}
.modal-body h6{
    font-weight: bold;
}
.modal-body h5{
    font-weight: bold;
}
.btn-primary{
    background-color: #464dee;
    border-color: #464dee;
}
.btn .btn-primary:hover{
    background-color: #464dee;
}
.bg-blue-w{
    background-color: #464dee;
    color: #fff;
}
.bg-blue-w button{
    color: #fff;
}
.text-datos label{
    font-size: 14px;
}
.bn632-hover {
    width: 150px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:focus {
    outline: none;
}
  
.bn632-hover.bn26 {
      background-image: linear-gradient(
        to right,
        #25aae1,
        #4481eb,
        #04befe,
        #3f86ed
      );
      box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
